@use 'variables.scss';

:root {
    font-family: segoe-ui, sans-serif;
    font-style: normal;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    min-width:360px;
    min-height: 100vh;
    background-color: white;
    color: variables.$fontColorMain;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-position: outside;
    margin-left: 1em;
}